.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 30px;

  color: rgb(79 65 59);
}

.error404 {
  font-size: 30px;
}

.link {
  padding-top: 20px;
  color: rgb(79 65 59);
  text-decoration: none;
  text-decoration: underline;

  &:hover {
    color: rgb(196 111 1);
  }
}
