.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 0 16px;

  @media (width <= 480px) {
    flex-direction: column;
    gap: 10px;
  }
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  font-weight: bold;
  font-size: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;
  background: linear-gradient(rgb(209, 219, 236), rgb(255, 255, 255));
  color: rgb(166, 178, 207);
}
